# YOLOv5 requirements
# Usage: pip install -r requirements.txt

mediapipe
tensorflow
# Base ----------------------------------------
matplotlib
numpy
opencv-python
Pillow
PyYAML
requests
scipy
# for cuda 12.2, use pip3 install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu121
torch
torchvision
tqdm
protobuf  # https://github.com/ultralytics/yolov5/issues/8012

# Logging -------------------------------------
tensorboard
# wandb
# clearml

# Plotting ------------------------------------
pandas
seaborn

# Export --------------------------------------
# coremltools  # CoreML export
# onnx  # ONNX export
# onnx-simplifier  # ONNX simplifier
# nvidia-pyindex  # TensorRT export
# nvidia-tensorrt  # TensorRT export
# scikit-learn  # CoreML quantization
# tensorflow  # TFLite export (or tensorflow-cpu, tensorflow-aarch64)
# tensorflowjs  # TF.js export
# openvino-dev  # OpenVINO export

# Extras --------------------------------------
ipython  # interactive notebook
psutil  # system utilization
thop  # FLOPs computation
# albumentations
# pycocotools  # COCO mAP
# roboflow
